<p-toast
  class="p-toast-icon-close"
  (onClose)="onClose()"
  styleClass="ui-toast-message-success"
></p-toast>

<div class="container mt-5 text-center">
  <form
    class="ui-fluid ui-lg-6 m-auto"
    (ngSubmit)="sendTransfer(f)"
    #f="ngForm"
  >
    <h4>Make a transfer</h4>
    <div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon">$</span>
        <input
          pInputText
          placeholder="Amount"
          type="number"
          min="0.00"
          step="0.01"
          id="amount"
          required
          name="amount"
          ngModel
        />
      </div>
    </div>
    <div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-id-card"></i></span>
        <input
          type="text"
          pInputText
          id="accountNumber"
          placeholder="Account number"
          required
          mask="00 0000 0000 0000 0000 0000 0000"
          name="accountNumber"
          ngModel
        />
      </div>
    </div>
    <div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-pencil"></i></span>
        <input
          type="text"
          pInputText
          id="title"
          placeholder="Title"
          name="title"
          ngModel
        />
      </div>
    </div>
    <div>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input
          type="text"
          pInputText
          id="name"
          placeholder="Name"
          name="name"
          ngModel
        />
      </div>
    </div>
    <div>
      <div class="ui-inputgroup">
        <p-inputSwitch
          [(ngModel)]="isFutureDate"
          id="isFutureDate"
          name="isFutureDate"
          class="mr-2"
        ></p-inputSwitch>
        <label for="isFutureDate"
          >Do you want make transfer for <b>future date</b>?</label
        >
      </div>
    </div>
    <div>
      <div class="ui-inputgroup">
        <p-calendar
          pInputText
          id="date"
          name="date"
          dateFormat="dd/mm/yy"
          showTime="true"
          hourFormat="24"
          [minDate]="currentDate"
          placeholder="Select future date"
          [showIcon]="true"
          [disabled]="!isFutureDate"
          ngModel
        ></p-calendar>
      </div>
    </div>
    <button
    class="button"
      pButton
      type="button"
      label="Make a transfer"
      [disabled]="f.invalid"
    ></button>
  </form>
</div>
