<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex justify-content-around align-items-center">
        <h4>Balance</h4>
        <p class="text-info font-weight-bold" style="font-size: 50px;">
          {{ users[userIndex]?.account.balance | currency }}
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h4>Account number</h4>
      <p class="text-muted">
        PL
        {{ users[userIndex]?.account?.accountNumber | accountNumber }}
      </p>
    </div>
  </div>
</div>
