<div class="container" style="width: 350px;">
  <h4>Latest transactions</h4>
  <div class="row">
    <div class="col d-flex justify-content-between">
      <p class="text-muted">Shop</p>
      <span class="text-danger">-15.00$</span>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-between">
      <p class="text-muted">Work</p>
      <span class="text-success">+4000.00$</span>
    </div>
  </div>
  <div class="row justify-content-end mt-3">
    <button
      class="btn btn-sm btn-secondary"
      type="button"
      routerLink="/history"
    >
      Go to history
    </button>
  </div>
</div>
