<hr />
<div class="container mt-5">
  <div class="row align-items-center">
    <div class="col">
      <h4 class="text-center mb-4">Monthly summary</h4>
      <div class="d-flex justify-content-around">
        <div>
          <h5 class="text-muted">Income</h5>
          <p class="text-success">+{{ income }}$</p>
        </div>
        <div>
          <h5 class="text-muted">Expense</h5>
          <p class="text-danger">-{{ expense }}$</p>
        </div>
      </div>
    </div>
    <div class="col"><p-chart type="line" [data]="data"></p-chart></div>
  </div>
</div>
