h4,
button {
  text-transform: uppercase;
}

body .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  padding: 0;
}

body .ui-button {
  background-color: #17a2b8;
  border: 1px solid#17a2b8;
  padding: 3px;
}

body .ui-button:enabled:hover {
  background-color: #118ea1;
  border: 1px solid #118ea1;
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-slider {
  background-color: #17a2b8;
}

body .ui-inputswitch.ui-inputswitch-checked:not(.ui-state-disabled):hover .ui-inputswitch-slider {
  background-color: #118ea1;
}

body .ui-datepicker table td > a.ui-state-active, body .ui-datepicker table td > span.ui-state-active {
  background-color: #17a2b8;
}

.input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
